SECRET_KEY=your-django-secret-key
DEBUG=False

DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_HOST=your-db-host
DB_PORT=5432
DB_NAME=your-db-name

GEMINI_API_KEY=your-gemini-api-key
IQAIR_API_KEY=your-iqair-api-key
FIRMS_MAP_KEY=your-firms-api-key

SUPABASE_S3_ENDPOINT=your-supabase-s3-endpoint
SUPABASE_S3_ACCESS_KEY=your-supabase-s3-access-key
SUPABASE_S3_SECRET_KEY=your-supabase-s3-secret-key
SUPABASE_S3_BUCKET=your-supabase-bucket-name
